body{
	background-color: rgba(0,0,0,0.91);
	font-family: 'Calibri', sans-serif;
}
a.nav-link{
	color: white;
	letter-spacing: 2px;
	padding-left:0;
}
a.nav-link:hover{
	color:gold;
	font-weight: 700;
	display: block;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	letter-spacing: 2px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:white;
	font-weight: 700;
	display: block;
	background-color: rgba(0,150,190,0.88);
}
.dropdown-menu{
	background-color: black;
}
.dropdown-item{
	color:white;
	letter-spacing: 2px;
}
.dropdown-item:hover{
	color:white;
	font-weight: 700;
	display: block;
	background-color: rgba(0,150,190,0.88);
}
.bg-dark{
	background-color: black !important;
}
h1{
	padding: 25%;
	text-align: center;
	color: rgba(0,150,190,0.88);
	background:url('http://kb4images.com/images/pic-of-dogs/38218587-pic-of-dogs.jpg');
	background-size:cover;
	background-position: center;
	position:relative;
	margin:0;
}
#imgpar{
	height:100%;
	width:100%;
	margin-bottom:3%;
	background-color: black;
	border:1px solid rgba(0,150,190,0.88);
	border-radius:5px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
.worksamples{
	margin-bottom:3%;
	padding-bottom:3%;
}
#headDiv{
	padding:2% 1%;
	border-bottom:1px solid #afafaf;
	background-color: white;
	text-align: center;
}
#contentDiv{
	padding:2% 1%;
	border-top:1px solid #afafaf;
	border-bottom:5px solid #afafaf;
	width:auto;
	background-color: white;
}
a:-webkit-any-link {
	text-decoration: none;
}
.description{
	text-align: center;
}
footer{
	text-align: center;
	padding-top:5%;
	color:white;
}
.active{
	background-color: rgba(0,150,190,0.88);
	color:white;
	display: block;
	letter-spacing: 4px;
	font-weight: 700;
}