body{font-family: 'Garamond', 'Times New Roman';}
.navbar-dark .navbar-nav .nav-link{color: rgba(0,150,190,0.88); letter-spacing: 0.1em;}
.navbar-dark .navbar-toggler{border-color: rgb(0,150,190);}
.navbar-toggler{background-color:rgb(0,150,190);}
.navbar-dark .navbar-brand{
	color: rgba(0,150,190,0.88); 
	letter-spacing: 0.1em;
	margin-right: 0;
	padding-right: 1rem;
	border-right: 1px solid rgba(0,0,0,.15);
}
.navbar-dark .navbar-brand:hover{
	color: rgba(0,150,190,0.88);
	letter-spacing: 0.1em;
	transition: 1s;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:white;
	display: block;
	background-color: rgba(0,150,190,0.88);
	transition: 1s;
}
.navbar-dark .navbar-nav .show>.nav-link{
	color:white;
	font-weight: 700;
	display: block;
	background-color: rgba(0,150,190,0.88);
}
.navbar-expand-lg .navbar-nav .nav-link{border-right: 1px solid rgba(0,0,0,.15);}
.navbar{padding:0 1rem;}
.dropdown-menu{background-color: white;letter-spacing: 0.1em;}
.dropdown-item{
	color:rgba(0,150,190,0.88);
	letter-spacing: 0.1em;
	transition:1s;
}
.dropdown-item:hover{
	color:white;
	display: block;
	background-color: rgba(0,150,190,0.88);
	transition: 1s;
}
.bg-dark{
	background-color: white !important;
	border:1px solid rgba(0,0,0,.15);
	color:rgba(0,150,190,0.88);
}
h1{
	padding: 5%;
	text-align: center;
	color: rgba(0,150,190,0.88);
	position:relative;
	margin:0;
	letter-spacing: 0.2em;
	font-weight: 800;
}
.greetings{letter-spacing: 0.2em; font-weight: 500;}
.makesure{
	display:none;
	font-size:0.9em;
}
#headDiv{
	padding:2% 1%;
	border-top: 1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	background-color: white;
	text-align: left;
	margin-bottom: 1%;
}
.logButton, #surebtn{
	border:1px solid rgb(0,150,190);
	color: white;
	border-radius: 3px;
	background-color: rgb(0,150,190);
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
}
.logButton:hover{
	border:1px solid rgb(0,150,190);
	color: rgb(0,150,190);
	border-radius: 3px;
	background-color: white;
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
	transition: 1s;
}
#surebtn:hover{
	border:1px solid rgb(0,150,190);
	color: rgb(0,150,190);
	border-radius: 3px;
	background-color: white;
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
	transition: 1s;
}
.logButton:disabled{
	border:none;
	color: gray;
	border-radius: 3px;
	background-color: #efefef;
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
}
#contentDiv{
	padding:2% 1%;
	border-top:1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	width:auto;
	background-color: white;
	text-align: center;
	margin-top: 1%;
	letter-spacing: 0.1em;
}
#timeind{letter-spacing: 0.3em;}
.notice{letter-spacing: 0.1em;}
.setButton{
	border:1px solid rgb(0,150,190);
	color: white;
	border-radius: 5px;
	background-color: rgb(0,150,190);
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
}
.setButton:hover{
	border:1px solid rgb(0,150,190);
	color: rgb(0,150,190);
	border-radius: 3px;
	background-color: white;
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
	transition: 1s;
}
.setButton:disabled{
	border:none;
	color: gray;
	border-radius: 3px;
	background-color: #efefef;
	width:100%;
	margin-bottom: 3%;
	font-weight: 600;
	letter-spacing: 0.1em;
}
.taskToday, .completedToday{
	background-color: rgb(0,150,190);
	color: white;
	font-weight: 800;
}
.task{border-radius: 5px; text-align: center; width: 100%;}
.time{border-radius:5px; margin:1% 0;}
.times, .notice{border-right: 1px solid #afafaf;}
.times, .notice, .logins{
	text-align: justify;
	padding:0 1%;
	margin:0;
}
.meridian{margin-left:1%;}
.taskDiv, .completeDiv{border: 2px solid rgb(0,150,190); padding-left: 0;}
.scheduler, .taskDone{text-align: left;}
footer{
	text-align:center;
	border-top: 1px solid #afafaf;
	margin-top:1%;
	padding-top:1%;
	color:black;
}
.active{
	background-color: rgba(0,150,190,0.88);
	color:white;
	display: block;
	letter-spacing: 4px;
	font-weight: 700;
}
#currentTime{font-weight: 800;}
.taskToday{font-weight: 800;}
li {list-style-type: none; font-weight: 800;}
input[type='checkbox']:checked {
	box-shadow: 0 0 0 3px rgba(0,150,190,0.88);
	transition: 0.5s;}